/*Stylesheet for meeting minutes*/
p {
    font-size: 20px;
    line-height: 2em;
}

@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Black.ttf")
}

h1 {
    font-size: 2cm;
    line-height: 10mm;
    font-family: "Roboto", "Bitstream Vera Serif", serif;
}

h2 {
    font-size: 2rem;
    line-height: 4vh;
}

#Agenda {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: dotted;
    border-color: green;
    border-width: 4px;
    border-radius: 10px;
}

.NewBusiness {
    margin: 20px 20px 10px 10px;
    padding: 10px 10px 5px 5px;
}

[type="button"] {
    height: 30px;
    width: 60px;
    max-height: 40px;
    max-width: 80px;
}

h1:hover {
    color: blue;
    text-decoration: underline;
    text-align: left;
}

h1, h2, h3 {
    display: block;
}

ol li {
    display: block;
}

ul > li {
    position: static;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
}

h2 + h3 {
    position: relative;
    left: 40px;
}

select ~ button:active {
    height: 40px;
}

@media (max-width: 1250px) {
    section.AttendanceList {
        position: relative;
        left: 40px;
    }
}

* {
    text-align: left;
}

ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
}